.menu-dark{
    gap: 8px;
    color: blue;
    padding-top: 8px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 8px;
    justify-content: space-between;
    background-color: #4e4e4e;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.text-nav-styles{
  color: white !important;
}

.navbar .dropdown-toggle::after {
  color: white;
}


.dropdown-menu .dropdown-item.bg-dark {
  background-color: #4e4e4e;
  color: white;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0;
  width: 100%;
}
.dropdown-menu {
  padding: 0; 
  border-radius: 0;
}
